<h1>Delete a Book Page</h1>

<p>Are you sure you want to delete this book?</p>

<%= button_to "Delete", @book, method: :delete %>
<div>
    <%= link_to "Cancel", book_path(@book) %> |
    <%= link_to "Back to books", books_path %> |
    <%= link_to "Back to Home Page", user_books_path %>
</div>